*.log
logs/
.env
.env.*
/target/
Cargo.lock
*.jar
.gradle/
build/
.vscode/
.dockerignore
# .env.example
argocd-password.txt
cluster-setup.sh
CLUSTER_SETUP.md
.vagrant/
Vagrantfile
cluster-disk.vdi
kubeconfig